<div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                        <img width="100%" class="img-fluid" src="assets/banner.jpg">
                </div>
        </div>
        <div class="row">
                <div class="col-md-12 text-center mt-5 text-danger">
                        <h1>सर्व स्पर्धा परीक्षेकरिता उपयुक्त अशी वेबसाइट .....</h1>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                        <div class="card" >
                        <div class="card-header bg-danger text-white text-center">
                        आरोग्य सेवा
                        </div>
                                <div class="card-body">
                                        <p class="card-text">मागील झालेल्या सर्व प्रश्न पत्रिका सोडवण्याकरिता खालील बटनावर क्लिक करा .</p>
                                        <a [routerLink]="'/quiz'" class="btn btn-primary">परीक्षा सोडवा</a>
                                </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <ng-adsense [adClient]="'ca-pub-7640562161899788'" [adSlot]="1545253489" [display]="'inline-block'" [fullWidthResponsive]="true" ></ng-adsense>
                </div>
        </div>
</div>